# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
.envrc
node_modules
.sass-cache
tags

# config
config/Google
config/argocd
config/configstore
config/gcloud
config/gh/hosts.yml
config/op
config/yarn
config/StardewValley
config/exercism

# vim
vim/.netrwhist
